#root {
  display: flex;
  height: 100%;
}

#github_button {
  height: 400px;
  width: 400px;
  margin: auto auto;
  font-size: 120px;
  background-color: lightgray;
  box-shadow: 40px 36px 56px 0px rgba(147,237,222,1);
  border-radius: 10px;
}

#gamesDisplay {
  margin: auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 80px 80px;
  grid-column-gap: 10px;
  grid-row-gap: 30px;

}

.match {
  padding-top: 20px;
  text-align: center;
  height: 60px;
  width: 200px;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-block-color: black;
  box-shadow: 0px 0px 18px 18px rgba(51,40,51,1);
}

#2 {
  background-color: red;
}